/**
 * Custom palette here.
 * only for variables
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

// colors
// $accentColor = rgb(2, 92, 23)
$accentColor = #2c855d
$textColor = #000000
$textColorDark = darken($textColor, 35%)
$borderColor = $accentColor
$bgColor = #fafafa
$codeBgColor = rgb(204, 204, 204)
$arrowBgColor = #ccc
$badgeTipColor = $accentColor
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 80em;

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
